
<h1>Upcoming Training</h1><hr>
<div class="content" id="card-info" fxLayout="row wrap" fxLayoutGap="65px grid">
    <div fxFlex="25%" id="card-content" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let i of users">
      <mat-card class="mat-elevation-z4" id="cards" >
        <img mat-card-image src="../../assets/cards.jfif">
          <mat-card-header id="mat-header">
            <mat-card-title id="mat-content">{{i.Name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content id="content">
            <h4>{{i.instructor}}<br>
            <i class="fa fa-clock-o"></i> {{i.Date}}<br>
            {{i.tags}}</h4>
            <button mat-button id="enroll" (click)="rise(content12)">Enroll</button>
            <button mat-button id="view-details" (click)="open(content)">View-Details</button>
          </mat-card-content>
      </mat-card>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" >
    <h4 class="modal-title" id="modal-title">
      <h1 id="stress">Stress Management</h1>
      <b>Description</b> – Training focusing on concepts of causes & affects of stress. And how new age can manage stress.<br>
      <b>Training Duration</b> – 18th June 2020 to 21st June 2020<br>
      <b>Assessment Date</b> – 22nd June 2020<br>
      <b>Cost</b> – 600 INR</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h1 id="stress">Session Information</h1>
      <table>
      <tr>
        <th>Session</th>
        <th>Session Date</th>
        <th>Session Time</th>
      </tr>
      <tr>
        <td>Cause of Stress </td>
        <td>18th June 2020 </td>
        <td>10:30 AM – 12:30 PM (IST)</td>
      </tr>
      <tr>
        <td>Impact of stress on human body</td>
        <td>20th June 2020</td>
        <td>11:30 AM – 2:30 PM (IST)</td>
      </tr>
      <tr>
        <td>How to reduce stress</td>
        <td>22th June 2020</td>
        <td>11:30 AM – 2:30 PM (IST)</td>
      </tr>
      
    </table>
    
  </div>
</ng-template>

<ng-template #content12 let-modal>
  <div class="modal-header" >
    <h1 class="modal-title" id="stress">Thankyou for enrolling.</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
</ng-template>

