#card-info { 
    padding: 16px;
  }
  
  #card-info > mat-card { 
    width: 200px; 
  }
#view-details {
    background-color:rgb(67, 168, 202);
    color:white;
    float: right;
    outline: none; 
  }
#enroll{
    background-color: #008000;
    color:white;
    outline: none; 
  
  }

#mat-content{
  margin-left: -20px;
 }
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #929292b7;
  text-align: left;
  padding: 8px;
}
#stress{
  color: #6495ed;
}
th{
  background-color: #d6d6d6;
  
}
