<div class="container-fluid" id="container">
    <div class="col-12" id="col">
        <ngb-carousel class="change-height">
            <ng-template ngbSlide>
              <div class="image-slide">
                <img src="../../assets/slider.png" alt="Random first slide" class="image">
              </div>  
                    <div class="carousel-caption" id="caption">
                      <h2 class="heading">SNB’s E-Learning Management Portal</h2>
                      <h4 class="heading2">Build skills with online training & certificates <br>from the experts. </h4>
                      <br>
                      <button id="btn">GET STARTED</button>   
                    </div>          
                      
            </ng-template>
            
            <ng-template ngbSlide>
                <div class="image-slide">
                  <img src="../../assets/slider.png" alt="Random first slide" class="image">
                </div>
                    <div class="carousel-caption" id="caption">
                      <h2 class="heading">SNB’s E-Learning Management Portal</h2>
                      <h4 class="heading2">Build skills with online training & certificates <br>from the experts. </h4>
                      <br>
                      <button id="btn">GET STARTED</button> 
                    </div>
                         
            </ng-template>

            <ng-template ngbSlide>
              <div class="image-slide">
                <img src="../../assets/slider.png" alt="Random first slide" class="image">
              </div>  
                    <div class="carousel-caption" id="caption">
                      <h2 class="heading">SNB’s E-Learning Management Portal</h2>
                    <h4 class="heading2">Build skills with online training & certificates <br>from the experts. </h4>
                    <br>
                    <button id="btn">GET STARTED</button> 
                    </div> 
                            
                     
            </ng-template>
        </ngb-carousel>
    </div>
</div>