/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
/* body{
    overflow-x: hidden;
} */
@media only screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
}
 html,body {
    overflow-x: hidden;
  }
 body {
    width:100%;
  }
  ::-webkit-scrollbar { 
    width: 0px!important;
  } 